* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #24272e;
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
}

.cell {
    border: 1px solid whitesmoke;
}
