* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

body {
    background-color: #66494a;
}

h1 {
    margin: 30px;
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 20px auto;
}

.cell {
    border: 1px solid whitesmoke;
}

.slider {
   /* -webkit-appearance: none; /* removes default slider styling */
   /* appearance: none; */
    height: 20px;
    width: 15%;
    cursor: pointer;
    margin: 0px 20px;
    padding: 10px;
   /* outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; */
}

#sliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: 0px 10px;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

#sliderValue {
    padding: 10px;

}