#containerDiv {
    display: flex;
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 700px;
    width: 600px;
} 

.divs {
    background-color: white;
    border: 1px solid black;
    height: 8%;
    width: 8%;
}

.divs:hover {
    background-color:black;
}

